body {
   background-color:#E0FBFC;
    }
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    border-color: #8E9AAF;
    height: none;
    position: center;
    width: 5%
    }
h1 {
    color: #457B9D;
}
h3 {
    color: #457B9D;
}
img {
    height: 200px;
    }


 #DEE2FF